@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
font-family: Roboto, Arial, Helvetica, sans-serif;
}
h2.title-type-1 {
    display: none; 
}
main {
    display: flex;
    justify-content: center;
}
main section {
    height: 600px;
    width: 900px;
    background-color: #5182B6;
    display: flex;
    flex-direction: row;
}

main section #dates-orders-mobile {
    display: none;
}
main section #content-map {
    position: relative;
    top: 0px;
    background-image: url('../images/carte_previsions.png');
    background-position: left 10% top 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
main section #map {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(10, 60px);
    height: 60%;
    width:40%; 
}
main section img {
    height: 100%;
    width: 100%;
}
main section #map div img {
    height: auto;
    width: auto;
}
main section #map div p , main section img.wind-icon, main section .weather-icon , main section #map div img.temperature-icon {
    display: flex;
}
main section #map img.wind-icon.none, main section #map img.temperature-icon.none, #map div img.temperature-icon.none, main section #map div p.none,main section #map div p.wind-value.none, main section .weather-icon.none, aside.none {
    display: none;
}
main section #map div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
main section #map div p {
    font-size: 1em;
    font-weight: 900;
    color: white;
    padding: 0;
    margin: -10px 0 0 0;
}
main section #map div .temperature-icon, main section #map div .wind-icon {
    height: 120%;
    width: 80%;
}
main section #map div span {
    display: inline-flex;
    background-color: rgb(0,0,255);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    border: 2.5px solid white;
    text-shadow:
    -0.8px -0.8px 0 #000, 
    0.8px -0.8px 0 #000, 
    -0.8px 0.8px 0 #000, 
    0.8px 0.8px 0 #000; 

}
main section #map div img.temperature-icon {
display: none;
}

/* Nord Meuse */
main section #map div:nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    left: -20px;
    top: 0;
}
/* Etain */
main section #map div:nth-child(2) {
    grid-column: 3/4;
    grid-row: 2/3;
    position:relative;
    top: 20px;
    left: 10px;
}
/* Sud Verdun */
main section #map div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 4/5;
}
/* Sud Commercy */
main section #map div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 6/7;
}
/* Sud Nancy */
main section #map div:nth-child(5) {
    grid-column: 4/5;
    grid-row: 6/7;
}
/* Sud Neufhateau */
main section #map div:nth-child(6) {
    grid-column: 4/5;
    grid-row: 9/10;
    position: relative;
    left: -20px;
    top: -20px;
}
/* Nord Epinal*/
main section #map div:nth-child(7) {
    grid-column: 5/6;
    grid-row: 8/9;
    position: relative;
    left: 0;
    top: -20px;
}
/* Sud Epinal*/
main section #map div:nth-child(8) {
    grid-column: 6/7;
    grid-row: 9/10;
    position: relative;
    top: -42px;
    left: 5px;
}
/* Sud St Dié*/
main section #map div:nth-child(9) {
    grid-column: 8/9;
    grid-row: 8/9;
    position: relative;
    top: -20px;
}
/*Baccarat*/
main section #map div:nth-child(10) {
    grid-column: 7/8;
    grid-row: 6/7;
}
/*Sarrebourg*/
main section #map div:nth-child(11) {
    grid-column: 8/9;
    grid-row: 5/6;
    position: relative;
    left: -20px;
    top: -12px;
}
/*Dieuze*/
main section #map div:nth-child(12) {
    grid-column: 6/7;
    grid-row: 4/5;
}
/*Metz*/
main section #map div:nth-child(13) {
    grid-column: 5/6;
    grid-row: 3/4;
    position: relative;
    left: 10px;
    top: -10px;
}
/*Thionville*/
main section #map div:nth-child(14) {
    grid-column: 5/6;
    grid-row: 1/2;
    position: relative;
    top: 20px;
}
/*Sarreguemine*/
main section #map div:nth-child(15) {
    grid-column: 7/8;
    grid-row: 3/4;
    position: relative;
    left: 10px;
    top: -10px;
}
/*Sud Jarny*/
main section #map div:nth-child(16) {
    grid-column: 4/5;
    grid-row: 4/5;
    position: relative;
}
/*Bitche*/
    main section #map div:nth-child(17) {
    grid-column: 9/10;
    grid-row: 3/4;
    left: -10px;
    position: relative;
}
/*Bussang - Ballon d'Alsace*/
    main section #map div:nth-child(18) {
    grid-column: 7/8;
    grid-row: 10/11;
    left: -10px;
    position: relative;
}

main section #orders {
    position: absolute;
    left: 51%;
    width: 400px;
    height: 600px;
    z-index: 400;
}
main section #orders #dates-orders {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3%;
    left: 30%;
    width: 70%; 
}
main section #orders #dates-orders h3 {
    text-align: center;
    padding: 5px 0 5px 0;
    background-color: white;
    border-radius: 5px;
    font-size: 1.3em;
    margin: 0;
}
main section #orders #dates-orders ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}
main section #orders #dates-orders ul li {
    font-size: 1.2em;
}
.selected-period {
    color: white;
    text-decoration: underline;
}
main section #city-orders {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%; 
    width: 80%;
    left: 20%;
}

main section #city-orders #btn-weather {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    left: 10%;
    margin-bottom: 10px;
}

main section #city-orders #btn-weather div:nth-child(1), main section #city-orders #btn-weather div:nth-child(2), main section #city-orders #btn-weather div:nth-child(3), main section #weather-notification {
    background:#d9d9d9;
    border: 2px solid white;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}
main section #city-orders #btn-weather div:nth-child(1) {
    background-image: url('../images/tempss.png');
}
main section #city-orders #btn-weather div:nth-child(2) {
    background-image: url('../images/temperature.png');
}
main section #city-orders #btn-weather div:nth-child(3) {
    background-image: url('../images/vent.png');
}
main section #city-orders #btn-weather div.btn-weather-selected {
    border: 3px solid blue;
}
main section #city-orders form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#235787d0;
    border-radius: 5px;
    padding: 2.3%;
    width: 98%;
    position: relative;
    left: 7.9%;
}

main section #orders ul li, main section #city-orders #btn-weather div:nth-child(1), main section #city-orders #btn-weather div:nth-child(2), main section #city-orders #btn-weather div:nth-child(3), main section #weather-notification {
    cursor: pointer;
}
main section #city-orders form label {
    color: white;
}
main section #city-orders form span {
    font-weight: bold;
}
main section #city-orders form input{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-size: 1em;
}
main section #city-orders form input::placeholder {
    text-align: center;
}
main section #orders img {
    position: relative;
    top: 22%;
    left: 45%;
    height: 100px;
    width: 150px; 
}
main section #weather-notification {
    position: relative;
    top: 75%;
    left: -72%;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    background-color:white;
    background-image: url('../images/info.png');
    background-size: 100%;
}
main section .weather-notification-alert.active {
    animation: notificationAlert 5s ease infinite ;
}
@keyframes notificationAlert {
    0%{
        height: 70px;
        width: 70px;
    }50%{
        height: 90px;
        width: 90px;
        border: 5px solid red;
    }100%{
        height: 70px;
        width: 70px;
    }
}
aside {
    position: absolute;
    z-index: 500;
    top: 15%;
    height: 300px;
    width: 40%;
    margin: 0 30% 0 30%;
    background-color: #d9d9d9;
    border-radius: 10px;
}
aside div:nth-child(1) {
    position: relative;
    top: 2%;
    left: 90%;
    height: 50px;
    width: 50px;
    background-image: url('../images/x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
aside div:nth-child(2) {
    display: flex;
    position: relative;
    top: -15%;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 90%;
    margin: 0 2% 0 2%;
}
aside div:nth-child(2) img {
    height: 100px;
    width: 100px;
}
aside div:nth-child(2) span {
    font-size: 1.1em;
    font-weight: bold;
}

aside div:nth-child(2) div {
    display: flex;
    flex-direction: column;
}
aside div:nth-child(2) div ul {
    list-style-type: none;
}
aside div:nth-child(2) div ul li {
    font-size: 0.9em;
}
aside div:nth-child(2) div p {
    margin: 0;
}
aside div:nth-child(2) div p {
    text-align: center;
    margin: 0;
}
aside div:nth-child(2) div span {
    font-weight: bold;
}

.bloc-control-day {
    position: relative;
    top: -67px;
    width: 97%;
    left: -10px;
    margin: 0 5% 0 5%;
    height: 50px;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bloc-control-day div:first-child,.bloc-control-day div:last-child {
    height: 30px;
    width: 30px;
    background-image: url('../images/next.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bloc-control-day div:first-child {
    transform: rotateY(180deg);
}
#suggestions {
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.autocomplete-suggestion {
    display: flex;
    background-color: white;
    height: 35px;
    width: 250px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: rgb(160, 158, 158); 
}

main section #city-orders form input#btn-search-city {
    position: absolute;
    background-image: url('../images/next.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 37px;
    width: 37px;
    top: 37%;
    left: 85%;
    outline: none;
    border: none;
}



@media screen and (max-width: 1100px){
    main section {
    height: 800px;
    width: 100%;
    margin: 5px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 200px 100px ;
    border-radius: 10px;
}
main section #dates-orders-mobile {
    display: block;
    grid-row: 1/2;
}
main section #dates-orders-mobile h3 {
    position: relative;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 300px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    top: -40%;
}
main section #orders #dates-orders {
    display: none;
}
main section #dates-orders-mobile .button-period-mobile {
    position: absolute;
    top: 15%;
    left: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    border-radius: 10px;
    width: 130px;
    border: 5px solid #235787;
}
#dates-orders-mobile div.button-period-mobile:nth-child(2) {
    display: flex;
}
    main section #content-map {
    width: 350px;
    grid-row: 2/3;
    position: relative;
    background-image: url('../images/carte_previsions.png');
    background-position: left 10% top 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 300;
}
main section #map {
    display: none;
    position: relative;
    z-index: 100;
    width: 350px;
    display: block;
    height: 60%;
    width:40%; 
}
main section #map div img {
    height: 20px;
    width: auto;
}
main section #map div img.wind-icon {
    height: 40px;
    width: 40px;
}


/* Sud Verdun */
main section #map div:nth-child(3) {
    display: block;
    position: absolute;
    top: 60%;
    left: 25%;
}
/* Sud Nancy */
main section #map div:nth-child(5) {
    display: block;
    position: absolute;
    top: 90%;
    left: 100%;
}
/* Sud Epinal*/
main section #map div:nth-child(8) {
    display: block;
    position: absolute;
    top: 125%;
    left: 100%;
}
/* Sud St Dié*/
main section #map div:nth-child(9) {
    top: 100%;
    left: 135%;
}
/*Sarrebourg*/
main section #map div:nth-child(11) {
    display: block;
    position: absolute;
    top: 50%;
    left: 170%;
}
/*Metz*/
main section #map div:nth-child(13) {
    display: block;
    position: absolute;
    top: 30%;
    left: 110%;
}
/* Sud Commercy */
main section #map div:nth-child(4) {
    position: absolute;
    top: 88%;
    left: 58%;
}

/* Baccarat */
main section #map div:nth-child(10) {
    position: absolute;
    top: 50%;
    left: 130%;
}

/* Nord Meuse */
main section #map div:nth-child(1) {
    position: absolute;
    top: 15%;
    left: 15%;
}

/* Etain */
main section #map div:nth-child(2) {
    position: absolute;
    top: 35%;
    left: 58%;
}

/* Sud Neufchateau */
main section #map div:nth-child(6) {
    position: absolute;
    left: 70%;
    top: 120%;
}

/* Nord Epinal */
main section #map div:nth-child(7) {
    position: absolute;
    left: 135%;
    top: 112%;
}

/* Sud Epinal */
main section #map div:nth-child(8) {
    position: absolute;
    left: 120%;
    top: 131%;
}

/* Sud St Dié */
main section #map div:nth-child(9) {
    position: absolute;
    left: 194%;
    top: 119%;
}

/* Baccarat */
main section #map div:nth-child(10) {
    position: absolute;
    top: 96%;
    left: 167%;
}

/* Sarrebourg */
main section #map div:nth-child(11) {
    left: 190%;
    top: 68%;
}

/* Dieuze */
main section #map div:nth-child(12) {
    position: absolute;
    left: 139%;
    top: 66%;
}

/* Metz */
main section #map div:nth-child(13) {
    position: absolute;
    left: 120%;
    top: 45%;
}

/* Thionville */
main section #map div:nth-child(14) {
    position: absolute;
    left: 120%;
    top: 24%;
}

/* Sarreguemines */
main section #map div:nth-child(15) {
    position: absolute;
    left: 177%;
    top: 42%;
}

/* Sud Jarny */
main section #map div:nth-child(16) {
    position: absolute;
    left: 79%;
    top: 55%;
}

/* Bitche */
main section #map div:nth-child(17) {
    position: absolute;
    left: 218%;
    top: 42%;
}

/* Bussang - Ballon d'Alsace */
main section #map div:nth-child(18) {
    position: absolute;
    left: 169%;
    top: 141%;
}

main section #map div span {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    border: 2.5px solid white;
}
main section #orders {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    grid-row: 3/4;
    display: flex;
}
main section #city-orders {
    display: flex;
    width: 100%;
    margin-right: 10%;
    left: 0;
    top: 0;
}
main section #city-orders form {
    text-align: center;
    height: 70px;
    width: 275px;
    padding: 8px;
}
main section #city-orders form label {
    font-size: 0.9em;
}
main section #city-orders form input{
    height: 50px;
    width: 270px;
}
main section #orders img {
    position: absolute;
    top: 100%;
    left:30%;
    height: 80px;
    width: 130px; 
}
main section #weather-notification {
    display: none;
}
aside {
    top: 15%;
    height: 250px;
    width: 60%;
    margin: 0 20% 0 20%;
    border-radius: 10px;
}
aside div:nth-child(2) img {
    height: 70px;
    width: 70px;
}
aside div:nth-child(2) span {
    font-size: 1.1em;
    font-weight: bold;
}
main section #orders #dates-orders {
    display: none;
}
.bloc-control-day {
    position: relative;
    top: 24%;
    width: 90%;
    margin: 0 5% 0 5%;
    height: 50px;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.autocomplete-suggestion {
    height: 50px;
    width: 250px;
}
.button-period-mobile {
    z-index: 1200;
}
}
@media  screen and (min-width: 700px) and (max-width: 1100px) {

    main section #content-map {
        width: 450px;
    }
    main section #content-map #map{
        top: -20px;
        height: 65%;
    }
    main section #map div img {
        height: 25px;
    }
    main section #city-orders form {
        width: 450px;
    }
    main section #city-orders form input {
        width: 100%;
    }
    main section #city-orders form input#btn-search-city {
        left: 90%;
    }
    main section #orders img {
        left: 46%;
    }
}
@media screen and (min-width: 1100px){
    header {
        height: 25%;
    }
    h2.title-type-1 {
        top: 12%;
        margin: 0 20% 0 30%;
    }
}


